# Regression Exercises
![Relevant xkcd](https://imgs.xkcd.com/comics/curve_fitting.png)

In [1]:
import env, acquire, wrangle, prepare
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import sklearn.preprocessing
from sklearn.model_selection import train_test_split

In [2]:
telco_df = wrangle.wrangle_telco()

In [3]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1695 entries, 5348 to 7042
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      1695 non-null   object
 1   monthly_charges  1695 non-null   float64
 2   tenure           1695 non-null   float64
 3   total_charges    1695 non-null   float64
dtypes: float64(3), object(1)
memory usage: 66.2+ KB

In [4]:
train, validate, test = prepare.train_validate_test_split(telco_df)

In [5]:
def quant_transformer(data_set, output_dist = 'normal'):
    qt = sklearn.preprocessing.QuantileTransformer(output_distribution = output_dist)
    x_scaled = qt.fit_transform(data_set)
    x_scaled = pd.DataFrame(x_scaled)
    x_scaled.columns = data_set.columns
    return x_scaled

In [6]:
prepare.quant_transformer(train[['monthly_charges','tenure','total_charges']])

/Users/parkervoit/opt/anaconda3/lib/python3.8/site-packages/sklearn/preprocessing/_data.py:2367: UserWarning: n_quantiles (1000) is greater than the total number of samples (949). n_quantiles is set to n_samples.
  warnings.warn("n_quantiles (%s) is greater than the total number "

     monthly_charges    tenure  total_charges
0          -0.275802 -1.362641      -1.127589
1          -0.888127 -0.296462      -0.742465
2           0.899956 -0.738986       0.267571
3          -1.787606 -0.488032      -0.874481
4           0.370553  0.677813       0.550060
..               ...       ...            ...
944        -1.447777  5.199338      -0.553138
945        -0.435083 -1.298566      -1.389908
946         0.827016 -0.451126       0.401892
947        -0.759995 -0.934180      -1.179004
948         0.279924  5.199338       0.553138

[949 rows x 3 columns]